// Buttons

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  color: $light-text-color;
  background-color: transparent;
  border: none;

  font-family: inherit;
  font-weight: 600;

  &--main, &--locations, &--header, &--mob-menu {
    width: 164px;
    height: 42px;

    font-size: 14px;
    line-height: calc(18 / 14);

    color: $dark-text-color;
    background-color: $accent-color;
    border-radius: 10px;

    @include transition(color);
    @include transition(background-color);

    &:hover, &:focus {
      color: $light-text-color;
      background-color: $hover-color;
    }
  }

  &--header {
    margin-left: 32px;
    animation: right-to-left 0.75s ease 250ms both;
    @media screen and (max-width: 767.98px) {
      display: none;
    }
  }  

  &--mob-menu {
    @media screen and (min-width: $tablet) {
      display: none;
    }
  } 

  &--first, &--franchise {
    width: 134px;
    height: 42px;

    font-size: 14px;
    line-height: calc(18 / 14);

    color: $dark-text-color;
    border: 2px solid $accent-color;
    border-radius: 10px;

    @include transition(border);

    &:hover, &:focus {
      border: 2px solid $hover-color;
    }

    &:focus {
      color: $light-text-color;
    }
  }

  &--locations, &--franchise {
    width: 196px;
  }

  &--transparent {
    font-size: 14px;
    line-height: calc(17 / 14);
    text-decoration: underline;
    
    color: $accent-color;

    @include transition(color);

    &:hover, &:focus {
      color: $light-text-color;
    }
  }

  &--close {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    fill: $dark-text-color;

    top: 12px;
    right: 12px;
    width: 20px;
    height: 20px;

    @include transition(fill);

    &:hover, &:focus {
      fill: $hover-color;
    }
  }

}

.icon-arrow-short {
  margin-left: 4px;
  fill: currentColor;
}