// Container

.container {
  padding: 0 20px;
  margin: 0 auto;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    padding: 0 32px;
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    padding: 0 16px;
    width: $desktop;
  }
}