// Fonts
$main-font: 'Montserrat', sans-serif;
$title-font: 'Seymour One', sans-serif;


// Text colors
$accent-color: #F8D24E;
$dark-text-color: #131313;
$light-text-color: #FCFCFC;
$address-color: #D6936D;

// Background colors
$main-bg-color: #84A178;

// Cards background colors
$green-card-bg: #96AF8C;
$yellow-card-bg: #EFD478;
$brown-card-bg: #D6936D;

// Forms colors
$form-border-color: #96AF8C;
$form-bg-color: rgba(248, 210, 78, 0.1);

// Button colors
$hover-color: #0A8817;

$iconCustomPointer: url('../images/cursor.png');

// Animation

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);