<!-- Footer -->
<footer class="footer">
  <div class="container footer--container">

    <div class="footer-info">
      <span class="footer-info__text">homemade ice cream made</span>
      <span class="footer-info__text footer-info__text--bold"
        >with passion</span>
    </div>

    <div class="footer-social">
      <ul class="footer-social__list">
        <li>
          <a
            href="https://github.com/"
            class="footer-social__link"
            rel="noreferrer noopener"
            target="_blank"
          >
            <svg class="footer-social__icon" width="20" heigth="20">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
          </a>
        </li>

        <li>
          <a
            href="https://web.telegram.org"
            class="footer-social__link"
            rel="noreferrer noopener"
            target="_blank"
          >
            <svg class="footer-social__icon" width="20" heigth="16">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>

        <li>
          <a
            href="https://www.facebook.com/"
            class="footer-social__link"
            rel="noreferrer noopener"
            target="_blank"
          >
            <svg class="footer-social__icon" width="10" heigth="20">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>

      <div class="footer-phone">
        <p class="footer-phone__text">
          Feel free to contact
          <a class="footer-phone__link" href="tel:+61(0)383766284"
            >+61 (0) 383 766 284</a>
        </p>
      </div>

    </div>
  </div>

  <p class="copyright">© 2023 - IceCream. All Rights Reserved.</p>
</footer>