
<!-- Gallery-reviews -->

<section class="gallery-reviews">
  <div class="container">

    <!-- Gallery -->

    <div class="gallery">
      <img
        class="slide slide1"
        srcset="
          ./images/gallery-reviews/slide-1-280.jpg 280w,
          ./images/gallery-reviews/slide-1-560.jpg 560w,
          ./images/gallery-reviews/slide-1-704.jpg 704w,
          ./images/gallery-reviews/slide-1-1013.jpg 1013w,
          ./images/gallery-reviews/slide-1-1408.jpg 1408w,
          ./images/gallery-reviews/slide-1-2026.jpg 2026w
        "
        sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 320px) 280px, 100vw"
        src="./images/gallery-reviews/slide-1-704.jpg"
        alt="Ice-cream"
        loading="lazy"
      />

      <img
        class="slide slide2"
        srcset="
          ./images/gallery-reviews/slide-2-280.jpg 280w,
          ./images/gallery-reviews/slide-2-560.jpg 560w,
          ./images/gallery-reviews/slide-2-704.jpg 704w,
          ./images/gallery-reviews/slide-2-1013.jpg 1013w,
          ./images/gallery-reviews/slide-2-1408.jpg 1408w,
          ./images/gallery-reviews/slide-2-2026.jpg 2026w
        "
        sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 320px) 280px, 100vw"
        src="./images/gallery-reviews/slide-2-704.jpg"
        alt="Ice-cream"
        loading="lazy"
      />

      <img
      class="slide slide3"
      srcset="
        ./images/gallery-reviews/slide-3-280.jpg 280w,
        ./images/gallery-reviews/slide-3-560.jpg 560w,
        ./images/gallery-reviews/slide-3-704.jpg 704w,
        ./images/gallery-reviews/slide-3-1013.jpg 1013w,
        ./images/gallery-reviews/slide-3-1408.jpg 1408w,
        ./images/gallery-reviews/slide-3-2026.jpg 2026w
      "
      sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 320px) 280px, 100vw"
      src="./images/gallery-reviews/slide-3-704.jpg"
      alt="Ice-cream"
      loading="lazy"
    />
    </div>
    
    <!-- Reviews -->

    <include src="./partials/reviews.html"></include>
    
  </div>
</section>