<!-- Modal made -->

<div class="modal modal-made" data-modal="5">
  <button class="button button--close js-modal-close" type="button">
    <svg class="button-icon-close" width="20" height="20">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>

  <h3 class="modal__title">How it’s made?</h3>

  <div class="modal-made__video">
    <iframe 
    src="https://www.youtube.com/embed/8WEMZ86Eho8" 
    title="How It's Actually Made - Ice Cream" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; fullscreen">
  </iframe>
  </div>

  <p class="modal-made__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet,
    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore etc
  </p>

</div>
<div class="overlay js-overlay-modal"></div>