<!-- Modal location -->
<div class="modal location--modal" data-modal="6">
  <button class="button button--close js-modal-close" type="button">
    <svg class="button-icon-close" width="20" height="20">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>

  <h3 class="modal__title">Our Locations</h3>

  <iframe
      class="location-map"
      src="https://maps.google.com/maps?width=225&amp;height=200&amp;hl=en&amp;q=Poltava,%20Ukraine+(Our%20location)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    >
  </iframe>

    <a
    class="button button--main center"
      href="https://goo.gl/maps/sbCEKd4ZUgtBgigX7"
      rel="noreferrer noopener"
      target="_blank"
      >Open map
    </a>

</div>
<div class="overlay js-overlay-modal"></div>