<!-- Modal franchise -->
<div class="modal franchise--modal" data-modal="7">
  <button class="button button--close js-modal-close" type="button">
    <svg class="button-icon-close" width="20" height="20">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>

  <h3 class="modal__title">Thank you for your interest in owning an Ice Cream shop</h3>

  <p class="franchise-text">
    Due to the overwhelming volume of franchise requests we are not accepting new franchisee applications at this time. Once the application process resumes, we will contact you for further information. Please fill out the contact information below and we will reach out for additional information. We appreciate your patience.
  </p>

  <form>
    <div class="form-group">
      <input
          type="text"
          name="user_name"
          required
          pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
          placeholder="Name"
        />

        <input
          type="tel"
          name="user_phone"
          required
          pattern="[0-9]{3}[-][0-9]{3}[-][0-9]{4}"
          placeholder="Phone"
        />

        <input
          type="email"
          name="user_email"
          required
          placeholder="Email"
        />

        <textarea
        name="comment"
        placeholder="Comment"
      ></textarea>
    </div>

    <button type="button" class="button button--main center">
      Submit
    </button>

  </form>
    
  
</div>
<div class="overlay js-overlay-modal"></div>