<!-- Ice cream modal -->

<div class="modal modal-cream" data-modal="2">
  <button class="button button--close js-modal-close" type="button">
    <svg class="button-icon-close" width="20" height="20">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>

  <h3 class="modal__title">Chocolate icecream</h3>

  <div class="modal-cream__illustration green">
    <img
      class="modal-cream__image"
      srcset="
        ./images/ingredients/ice-cream-132.png 132w,
        ./images/ingredients/ice-cream-264.png 264w
        "
      sizes="(min-width: 1200px) 264px, (max-width: 1199px) 132px, 100vw" 
      src="./images/ingredients/ice-cream-132.png" 
      alt="Ice cream"
    />
  </div>

  <ul class="calories">
    <li class="calories__item calories__item--green">
      <span class="calories__weight calories-green">320</span>kcal
    </li>
    <li class="calories__item calories__item--green">
      <span class="calories__weight calories-green">4g</span>Prote...
    </li>
    <li class="calories__item calories__item--green">
      <span class="calories__weight calories-green">8,2g </span>Fats
    </li>
    <li class="calories__item calories__item--green">
      <span class="calories__weight calories-green">40,4g </span>Carbs
    </li>
  </ul>

  <h4 class="ingredients-title">Ingredients</h4>

  <div class="ingredients-list">
    <ul class="ingredients-list__product">
      <li class="ingredients-list__item">Milk</li>
      <li class="ingredients-list__item">Belgian chocolate</li>
      <li class="ingredients-list__item">Cream</li>
      <li class="ingredients-list__item">Cocoa powder</li>
      <li class="ingredients-list__item">Sugar</li>
      <li class="ingredients-list__item">Vanilla sugar</li>
    </ul>
    <ul class="ingredients-list__weight">
      <li class="ingredients-list__item">100ml</li>
      <li class="ingredients-list__item">20g</li>
      <li class="ingredients-list__item">150 ml</li>
      <li class="ingredients-list__item">30g</li>
      <li class="ingredients-list__item">40g</li>
      <li class="ingredients-list__item">10g</li>
    </ul>
  </div>

  <form>
    <div class="form-group">
      <input
          type="text"
          name="user_name"
          required
          pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
          placeholder="Name"
        />

        <input
          type="tel"
          name="user_phone"
          required
          pattern="[0-9]{3}[-][0-9]{3}[-][0-9]{4}"
          placeholder="Phone"
        />

        <textarea
        name="comment"
        placeholder="Comment"
      ></textarea>
    </div>

    <button type="button" class="button button--main center">
      Submit
    </button>

  </form>
</div>
<div class="overlay js-overlay-modal"></div>