// About

.about {
  background-color: $main-bg-color;
  padding-top: 60px;

  &__uppertitle {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(22 /18);
    text-align: center;
    text-transform: uppercase;
    color: $light-text-color;

    margin-bottom: 12px;

    @media screen and (min-width: $tablet) {
      font-weight: 800;
      font-size: 22px;
      line-height: calc(27 /22);
    }
  }

  &__title {
    font-family: $title-font;
    font-size: 30px;
    line-height: calc(38 /30);
    text-align: center;
    text-transform: uppercase;
    color: $light-text-color;

    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 32px;

    @media screen and (min-width: $tablet) {
      font-size: 34px;
      line-height: calc(43 / 34);
      letter-spacing: 0.06em;
      margin-bottom: 80px;
      padding-left: 0;
      padding-right: 0;
    }
  }


  &__content {
    @media screen and (min-width: $tablet) {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 38px;
    }
  }

  &__thumb {
    position: relative;
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
    border-radius: 50%;
    width: 279px;
    height: 279px;

    @media screen and (max-width: 767.98px) {
      margin: 0 auto 62px auto;
    }

    @media screen and (min-width: $tablet) {
      width: 330px;
      height: 330px;
    }

  }

  &__image {
    position: absolute;
    top: 22px;
    border-radius: 50%;
    width: 279px;
    height: 279px;

    @media screen and (min-width: $tablet) {
      width: 330px;
      height: 330px;
      top: 26px;
    }
  }

  &__box {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    color: $light-text-color;

    @media screen and (min-width: $tablet) {
      padding-left: 0;
      padding-right: 0;
      width: 334px;
      text-align: left;
    }
  }

  &__text {
    font-size: 12px;
    line-height: calc(21 /12);

    margin-bottom: 4px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 8px;
    }
  }

  &__info {
    font-size: 12px;
    line-height: calc(19 /12);

    margin-bottom: 4px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 8px;
      line-height: calc(21 /12);
    }
  }

  &__paragraph {
    font-size: 12px;
    line-height: calc(23 /12);

    margin-bottom: 10px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 32px;
    }
  }


}