// Contacts

.contacts {
  background-color: $main-bg-color;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 60px;

  font-weight: 500;
  font-size: 12px;
  line-height: calc(22 / 12);
  font-style: normal;

  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: calc(26 / 14);
    padding-bottom: 40px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: calc(30 / 16);
    padding-bottom: 120px;
  }

  &--container {
    margin-top: -420px;

    @media screen and (min-width: $tablet) {
      margin-top: -363px;
    }

    @media screen and (min-width: $desktop) {
      margin-top: -128px;
    }

  }


  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

    @media screen and (min-width: $tablet) {
      flex-direction: row;
      gap: 0;
      justify-content: space-between;
    }

  }

  &__item {
    background-color: $light-text-color;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    padding: 40px 34px 24px 34px;

    @media screen and (min-width: $tablet) {
      padding: 40px 24px 40px 24px;
      width: 224px;
    }

    @media screen and (min-width: $desktop) {
      padding: 40px 66px 40px 40px;
      width: 368px;
    }

  }

  &__title {
    display: inline-block;
    padding: 4px 22px;
    margin-bottom: 20px;

    border-radius: 4px;
    background-color: $accent-color;

    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);

    @media screen and (min-width: $tablet) {
      padding: 4px 13px;
      margin-bottom: 32px;

      font-size: 16px;
      line-height: calc(22 / 16);
    }

    @media screen and (min-width: $desktop) {
      padding: 4px 14px;
      margin-bottom: 36px;

      font-size: 16px;
      line-height: calc(22 / 16);
    }

  }

  &-address {
    margin-bottom: 24px;
    border-bottom: 1px solid #E1E1E1;
    padding-bottom: 24px;

    &__title {
    margin-bottom: 8px;
    font-style: normal;

    @media screen and (min-width: $tablet) {
      margin-bottom: 12px;
    }

    }

    &__link {
      font-style: normal;
      color: #D6936D;

      &:hover {
        cursor: $iconCustomPointer, auto;
        text-decoration: underline;
      }
    }

  }

  &-schedule {
    display: flex;
    flex-direction: column;
    gap: 8px;

    margin-bottom: 24px;
    border-bottom: 1px solid #E1E1E1;
    padding-bottom: 24px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 32px;
      padding-bottom: 32px;
    }

    &__time {
      color: #ABABAB;
    }
  }

  &-phone {
    margin-bottom: 6px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 4px;
    }

  }

  &__button {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    
    @media screen and (min-width: $tablet) {
      flex-direction: row;
      margin-top: 40px;
    }

    @media screen and (min-width: $desktop) {
      margin-top: 60px;
    }

  }


}