// Gallery

.gallery-reviews {
  min-height: 1037px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-image: url('../images/gallery-reviews/gallery-reviews_mobile@1x.png');

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) { background-image: url('../images/gallery-reviews/gallery-reviews_mobile@2x.png');
  
  }

  @media screen and (min-width: $tablet) {
    background-image: url('../images/gallery-reviews/gallery-reviews_tablet@1x.png');

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) { background-image: url('../images/gallery-reviews/gallery-reviews_tablet@2x.png');
    
    }
  }

  @media screen and (min-width: $desktop) {
    background-image: url('../images/gallery-reviews/gallery-reviews_desktop@1x.png');

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) { background-image: url('../images/gallery-reviews/gallery-reviews_desktop@2x.png');
    
    }
  }
}

.gallery {
  position: relative;
  margin: 0 auto;
  transform: translateY(-36px);

  @media screen and (min-width: $tablet) {
    transform: translateY(-144px);
  }

  @media screen and (min-width: $desktop) {
    transform: translateY(-98px);
  }

}

.slide {
  position: absolute;
  left: 50%;
  border-radius: 8px;
  transform: translateX(-50%);
  transition: opacity 1s $timing-function;

  @media screen and (min-width: $tablet) {
    border-radius: 18px;
  }

}

.slide2 {
  animation: gallery_animation 4s $timing-function infinite alternate;
}

.slide3 {
  animation: gallery_animation 6s $timing-function infinite alternate;
}

// Reviews

.reviews {
  padding-top: 174px;


  @media screen and (min-width: $tablet) {
    padding-top: 283px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 464px;
    padding-left: 100px;
    padding-right: 100px;
  }

  &__item {
    display: block;
    margin: 0 auto;

    text-align: center;
  }

  &__img {
    margin: 0 auto;
    margin-bottom: 32px;
  }

  &__text {
    padding: 35px 39px;
    background-color: $main-bg-color;
    border-radius: 10px;
    margin-bottom: 32px;


    font-weight: 400;
    font-size: 12px;
    line-height: calc(31 / 12);

    color: $light-text-color;

    @media screen and (min-width: $tablet) {
      padding: 28px 80px;

      border-radius: 24px;
      
      font-weight: 500;
      font-size: 14px;
      line-height: calc(26 / 14);
    }

    @media screen and (min-width: $desktop) {
      padding: 43px 109px;

      border-radius: 24px;
      
      font-size: 16px;
      line-height: calc(30 / 16);
    }
  }

  &__name {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(37 / 20);
    margin-bottom: 12px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 32px;

      font-size: 16px;
      line-height: calc(30 / 16);
    }
  }

  &__pagination {

    &.swiper-pagination {
        bottom: 0;
    }

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;

      background: #D9D9D9;

      &.swiper-pagination-bullet-active {
          background-color: $main-bg-color;
      }
    }
  
  }

}
