// Header

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
  height: 60px;

  padding-top: 12px;

  @media screen and (min-width: $tablet) {
    padding-top: 20px;
    height: 86px;
  }

  @media screen and (min-width: $desktop) {
    height: 95px;
  }

  &--shaded {
    border-bottom: 1px solid rgba($light-text-color, 0.2);
    background-color: rgba($main-bg-color, 0.75);
    backdrop-filter: blur(3px);
    @include transition(background-color);
    @include transition(backdrop-filter);
  }


  &--container {
    display: flex;
    align-items: center;
  }

  &__nav {
    margin-right: 205px;

    &-list {
      display: none;

      @media screen and (min-width: $desktop) {
        display: flex;
        align-items: center;
        gap: 28px;
      }
    }

    &-link {
      font-weight: 700;
      font-size: 16px;
      line-height: calc(20 / 16);
      color: $light-text-color;
      @include transition(color);

      &:hover, &:focus {
        color: $accent-color;
        cursor: $iconCustomPointer, auto;
      }
    }

  }

}

.logo {
  margin-right: auto;
  animation: logo 1.5s ease 0s both;

  &__icon {
  width: 40px;
  height: 37px;

  @media screen and (min-width: $tablet) {
    width: 48px;
    height: 44px;
  }

  @media screen and (min-width: $desktop) {
    width: 60px;
    height: 65px;
  }

  }

}

.icon {

  &-menu, &-close {
    @media screen and (min-width: $desktop) {
      display: none;
    }

    fill: currentColor;
    @include transition(fill);

    animation: right-to-left 1s ease 1000ms both;

    &:hover, &:focus {
      fill: $dark-text-color;
      cursor: $iconCustomPointer, auto;
    }
  }


}